 <!-------------------------------------->
  <div aria-hidden="false" aria-labelledby="myModalLabel" role="dialog" tabindex="-1" class="modal fade" id="mymodal-addcollection">
    <div class="modal-backdrop fade in"></div>
    <div class="modal-dialog modal-sml">
     <div class="modal-content">
      <div class="modal-header">
       <button type="button" data-dismiss="modal" class="close"><span aria-hidden="true">×</span><span class="sr-only">Close</span>
       </button>
       <h4 class="modal-title">Save to a Collection</h4>
      </div>
      <div class="modal-body" ng-show="showcollections">
       <div id="collection-container" class="ember-view collection-group-stack" style="max-height:214px">
        <ul id="collection-list" style="margin-bottom: 0;" class="list-group">
         <li data-ember-action="22819" class="list-group-item clearfix collection-group-item" ng-repeat="allcollection in allcollections | orderBy: createdate" ng-click="addtocollection(allcollection._id)">
         <div style="float:left;width:50px;height:50px;background:#e5e5e5;">
          <div class="collection-cover" ng-repeat="imgpublicid in allcollection.images | orderBy: adddate | limitTo:1">
            <img public-id="{{imgpublicid.publicid}}" width="50px" height="50px" class="ng-isolate-scope" ng-src="{{config.ftpThumbnailPath}}{{imgpublicid.publicid}}.{{imgpublicid.fileExtension}}">
          </div>
         </div>
          <div class="collection-info">
            <h5 class="list-group-item-heading strong">{{allcollection.name}}</h5>
            <h5 class="pannel-head list-group-item-text small">{{allcollection.images.length}} photos</h5>
          </div>
        </li>
       </ul>
      </div>
      </div>


      <div class="modal-footer">
        <form role="form" style="text-align: left;" data-ember-action="22825" class="form-inline" ng-submit="collectionsubmit()">
          <div class="form-group" style="float:left;width:auto;">
            <input id="new-collection-input" ng-model="collectiondetls.collectionname" class="ember-view ember-text-field form-control" placeholder="New Collection..." type="text" required>
            <input id="new-collection-input-gallerycollectionid" ng-model="albumdetls.collectiongalleryid" type="hidden">
          </div>
          <div id="ember22826" class="ember-view"style="float:left;width:auto;">
            <button class="btn btn-loading btn btn-primary" data-bindattr-22830="22830" data-bindattr-22831="22831" type="submit" data-bindattr-22832="22832" style="padding: 19px 17px;">
              <div id="ember22833" class="ember-view loading-spinner" style=""></div>
              <div class="btn-loading-text">Create</div>
            </button>
          </div>
        </form>
      </div>
    </div>
   </div>
  </div>
<!-------------------------------------->

<!-------------------------------------->

<!-------------------------------------->

<!--page loader box start-->
<!--<div id="preloader">
	<div id="status">
    	<div class="spinner1">
            <div class="bounce1"></div>
            <div class="bounce2"></div>
            <div class="bounce3"></div>
        </div>
    </div>
</div>-->
<!--page loader box end-->

 <div class="ember-view parallax" id="ember806">
        <div class="top-gap hidden-xs hidden-sm"></div>
        <div class="parallax__layer parallax__layer--base">
          <div class="page-body">

           <div style="padding: 10px 70px 10px;margin-left:0px;margin-right:0px;" class="row text-center">
             <div class="col-xs-12 clearfix">
               <div style="display: inline-block; margin-bottom: 20px;" class="row">
                 <h2 class="caps strong">{{collectionname}}</h2>
               </div>
               <div class="row">
               <div style="margin-bottom: 12px; display: inline-block;">
                <a id="ember3480" class="ember-view" href="/myaccount/{{usrdetls._id}}">
                <div id="ember3483" class="ember-view inline-block center-block">
                <svg width="0" height="0">
                 <clipPath id="hexagonClip">
                   <polygon points="24 0,45 12,45 37,24 50,3 37,3 12"></polygon>
                 </clipPath>
                </svg>

<img public-id="{{usrdetls.profileimage}}" class="avatar hexagon-medium ng-isolate-scope" style="clip-path: url(#hexagonClip);" ng-src="{{config.ftpAvatarPath}}{{config.crop200}}{{usrdetls.profileimage}}">


                </div>
                </a>
               </div>
              </div>
              <div class="row"><p style="font-size: 14px !important;" class="pannel-head xsmall collection-link">A collection curated by</p></div><div class="row"><a id="ember3491" class="ember-view" href="/myaccount/{{usrdetls._id}}"><p class="panel-head strong caps collection-link">{{usrdetls.firstname}} {{usrdetls.lastname}}</p></a></div></div></div>
            <hr class="light hidden-xs hidden-sm" style="margin: 14px 0 7px;">
            <div class="page-title-bar" >
              <div class="row" style="margin: 0;">
                <div class="col-xs-12" style="margin: 0 auto;float: none;width: 86%;padding-left: 0px;">

                 <h5 style="margin-bottom: 2px;">{{noofphotos}} photos</h5>
                  <!--<a id="ember1676" class="ember-view small caps" href="javascript:void(0);" ng-click="redirect('collections')">-->
                  <a id="ember1676" class="ember-view small caps" href="/collections">
                  <i class="right-arrow"></i>More Collections</a></div>
              </div>
            </div>

            <div class="grid">
              <brick-wall bricks="collectionphotos" item="photo">
                <div class="grid-photo-block">
                  <img style="position: absolute; background: url({{photo.src}}) no-repeat center center; background-size: cover; height: {{photo.height}}px; width: {{photo.width}}px;">
                  <span class="btn btn-default btn-sm btnhover addcollectionbtn" ng-show="!spnAddCollection"><a id="btn-collect" href="javascript:void(0);" ng-click="$parent.$parent.open_collectionmodal(photo.galleryid,photo.publicid)"><i class="collect-icon"></i></a></span>
                </div>
              </brick-wall>

              <!--<div class="grid-real clearfix" ng-show="nocollectionimage">
              <div ng-repeat="collectionphoto in collectionphotos | orderBy: adddate" id="thumbnails">
                <div id="ember1384" class="ember-view photo" style="height:265px; width:265px;">
                  <div data-bindattr-1386="1386" class="grid-photo-block">
                   <!--<cl-image public-id="{{collectionphoto.publicid}}"  format="jpg" ng-click="showDetails(collectionphoto.galleryid,collectionphoto.publicid)" style="cursor:pointer;">
                       <cl-transformation crop="fill" gravity="north"  width="260" height="260"/>
                    </cl-image>-->
                  <!--  <div class="thum_photo_det">


                        <img data-src="{{config.ftpThumbnailPath}}{{collectionphoto.publicid}}.{{collectionphoto.fileExtension}}" width="260" height="260" ng-click="showDetails(collectionphoto.galleryid,collectionphoto.publicid)" style="cursor:pointer;">
                    </div>
                    <span class="btn btn-default btn-sm btnhover addcollectionbtn" ng-show="!spnAddCollection" data-ember-action="1392"><a data-ember-action="1190" id="btn-collect" href="javascript:void(0);" ng-click="open_collectionmodal(collectionphoto.galleryid,collectionphoto.publicid)"><i class="collect-icon"></i></a></span>
                  </div>
                </div>
               </div>
             </div> -->
              <div id="ember1195" class="ember-view" style="text-align: center" ng-show="!nocollectionimage">
                <div class="empty-con">
                  <h5>Nothing's been added to this collection yet.</h5>
                </div>
              </div>
              <div class="grid-footer" style="width:97.6%;">
                <hr class="light" style="margin-left: 4px; margin-right: 4px;">
                <div class="icon-background"></div>
                <i class="t20-icon-grey-sm" style="position: absolute; left: 50%; top: 0; margin-left: -28px; margin-top: -24px;"></i></div>
              <button data-bindattr-1691="1691" class="btn btn-default sticky-bottom-right" data-ember-action="1690" id="scrollToTop" style="display:none;"><i class="arrow-up-sm pull-left" style="width: 22px; height: 28px;"></i></button>
            </div>
          </div>

<style>
 .btn-default{background-color: #dee1e4;border:1px solid #dee1e4;color:#000;}
 .view-hover::after{border:2px solid white;background:none;border-radius:3px;}
 .photogallery{background-color:red;}
 .grid-photo-block .delete-btn{position: absolute;top: 8px;left: 8px;height: 38px;width: 38px;opacity: 1;z-index: 1;padding-right: 16px;bottom: 46px;padding: 10px;background: rgba(0,0,0,0.6);border: none;transition: opacity .15s ease-in-out;-webkit-backface-visibility: hidden;border-radius: 3px 3px 3px 3px;cursor: pointer;}
 .grid-photo-block .delete-btn i {margin: 0 auto;opacity: 0.6;-webkit-transition: opacity .15s ease-in-out;-moz-transition: opacity .15s ease-in-out;-ms-transition: opacity .15s ease-in-out;-o-transition: opacity .15s ease-in-out;transition: opacity .15s ease-in-out;-webkit-backface-visibility: hidden;}
 i.delete-icon::after{top:0px;}
</style>
<script>
   $(window).ready(function() {
         $(window).lazyLoadXT();
   });
 /*$(function(){
    $('#sharebtn').click(function()
    {
      $( "#shareicons" ).slideToggle('slow');
    });
 }); */
 //$(window).load(function() {
 //$('#status').fadeOut();
 //$('#preloader').fadeOut('slow');
 //$('body').css({'overflow':'visible'});
 //});
</script>
</div></div>
