<div ng-hide="editMode">
			<ul class="breadcrumb">
				<li>
					<i class="icon-home"></i>
					<a href="./">Home</a>
					<i class="icon-angle-right"></i> 
				</li>
				<li>
					<i class="icon-edit"></i>
					<a href="javascript:void(0);">Pricing CMS</a>
				</li>
			</ul>
			
			
			<div class="row-fluid sortable">
				<div class="box span12">
					<div class="box-header" data-original-title>
						<h2><i class="halflings-icon white edit"></i><span class="break"></span>Pricing CMS</h2>
					</div>
					<div class="box-content">
						
						<input id="appendedInput" size="16" name="settingid" ng-model="subscriptioncms._id" type="hidden">
						<input id="appendedInput" size="16" name="hidimage" ng-model="subscriptioncms.image" type="hidden">
						<input id="appendedInput" size="16" name="imageid" ng-model="subscriptioncms.imageid" type="hidden">
						    <fieldset>
						     <div class="control-group">
						      <label class="control-label" for="appendedInput">&nbsp;</label>
						      <div class="controls">
							<cl-image public-id="{{subscriptioncms.image}}" class="thumbnail inline" format="jpg">
                                                            <cl-transformation height="150" width="150" crop="fill" gravity="north" />
                                                        </cl-image>
                                                       </div>
                                                      </div>
                                                        <div class="form_line">
                                                            <label class="control-label" for="appendedInput">Background Image</label>
                                                            <div class="controls">
                                                                <div class="upload_button_holder">
                                                                    <input type="file" name="file" class="cloudinary_fileupload">
                                                                </div>
                                                                <div class="status">{{status}}</div>
                                                                <div class="progress-bar" ng-show="showupload">
                                                                    <div class="progress" style="width: {{progress}}%" ng-init="progress=0"></div>
                                                                </div>
                                                            </div>
                                                        </div>
							<div class="control-group">
								<label class="control-label" for="appendedInput">Title</label>
								<div class="controls">
								  <div class="input-append">
									<input id="appendedInput" size="16" name="title" ng-model="subscriptioncms.title" required type="text">
								  </div>
								</div>
							</div>
							  
							 <div class="control-group">
								<label class="control-label" for="appendedInput">Sub Title</label>
								<div class="controls">
								  <div class="input-append">
									
									<textarea name="subtitle" id="appendedInput" ng-model="subscriptioncms.subtitle" style="width:350px;"></textarea>
								  </div>
								</div>
							  </div>
                           
							  <div class="form-actions">
								<button type="button" class="btn btn-primary" ng-click="save()">Save changes</button>
							  </div>
							</fieldset>

					</div>
				</div><!--/span-->

			</div><!--/row-->
</div>
<!--/row-->
        
<style>
 .thumbnail{border:0px;}
 textarea, input[type="text"]{border:1px solid #000 !important;}
 #question,.wysiwyg-select{border:1px solid #C5C3C3;}
</style>
<script>
	$(document).ready(function(){
	  $('.btn-default').attr('type','button');
	});
</script>
