<div id='tag-admin'>
  <ul class="breadcrumb">
    <li> <i class="icon-home"></i> <a href="./">Home</a> <i class="icon-angle-right"></i> </li>
    <li><a href="javascript:void(0);">Tags</a></li>
  </ul>
  <div class="row-fluid sortable">
    <div class="box span12">
      <div class="box-header" data-original-title>
        <h2><i class="halflings-icon white user"></i><span class="break"></span>Tags</h2>
        <div class="box-icon">
          <!--<a class="btn-add" href="javascript:void(0);" ng-click="changeMode();"><i class="halflings-icon white plus"></i></a>-->

          <a class="btn-create btn btn-info editdata" href="javascript:void(0);" ng-click="showcreate()"
            title="Create"><i class="halflings-icon white edit"></i></a>
        </div>
      </div>
      <div class="box-content">
        <div class='input-search'>
          <input ng-model="search">
          <button ng-click="searching(search)">Search</button>
        </div>
        <div id="list">
          <table class="table table-striped table-bordered bootstrap-datatable datatable" id="userlist">
            <thead>
              <tr>
                <th>ID</th>
                <th>Logo</th>
                <th>Match</th>
                <th>Keyword</th>
                <th>Official</th>
                <th>Show in explore</th>
                <th align="center">Action</th>
              </tr>
            </thead>
            <tbody>
              <tr ng-repeat="tag in listtag">
                <td>{{tag._id}}</td>
                <td>
                  <div id='tag-logo' ng-show='tag.logo'>
                    <img ng-src='{{link + tag.logo}}' />
                  </div>
                </td>
                <td>{{tag.list_tags ? tag.list_tags.length : "1"}}</td>
                <td>{{ tag.keyword }}</td>
                <td>{{ tag.isofficial ? 'TRUE' : 'FALSE' }}</td>
                <td>{{tag.showinexplore ? 'TRUE' : 'FALSE'}}</td>
                <td align="center">
                  <a class="btn btn-success btnview" href="javascript:void(0);" ng-click="official(tag)"
                    title="Official"><i class="halflings-icon white check"></i></a>
                  <a class="btn btn-info editdata" href="javascript:void(0);" ng-click="showedit(tag)" title="Edit"><i
                      class="halflings-icon white edit"></i></a>
                  <!-- <a class="btn btn-danger delete" ng-click="delete(tag)" title="Delete"><i
                                            class="halflings-icon white trash"></i></a> -->
                </td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class='action-table'>
          <div class='select-limit'>
            <select ng-model='limit' ng-change="redirectURL('limit', limit)">
              <!-- <option value='1'>1</option> -->

              <option value='10'>10</option>
              <option value='30'>30</option>
              <option value='50'>50</option>
              <option value='100'>100</option>
            </select>
          </div>
          <nav class='box-pagination'>
            <ul class="pagination">
              <li class="page-item"><button ng-disabled="page <= 1" ng-click="redirectURL('page', page-1)"
                  class="page-link">Previous</button></li>
              <li ng-repeat="pa in pagination" ng-class="[pa.active, 'page-item']"><button
                  ng-disabled="pa.active === 'active' ? true : false" ng-click="redirectURL('page', pa.page)"
                  class="page-link">{{pa.page}}</button></li>

              <li class="page-item"><button ng-disabled="page >= totalPage" ng-click="redirectURL('page', page+1)"
                  class="page-link">Next</button></li>
            </ul>
          </nav>
        </div>
      </div>
    </div>
    <!--/span-->
  </div>
</div>


<div class="modal hide fade" id="mymodal-edittag">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal">x</button>
    <h3>Edit tag</h3>
    <div class="errors" style="color: #ff5252"></div>
  </div>
  <div class="modal-body">
    <div class='loading'>
      <img src='/img/loadingv.gif' />
    </div>
    <form>
      <div>
        <div class="form-group">
          <label>Keyword</label>
          <input type="text" ng-model="edittag.keyword" class="ember-view ember-text-field form-control"
            placeholder="Keyword" name="keyword" required>
        </div>
        <div class="form-group">
          <label>Official</label>
          <select type="text" ng-model="edittag.isofficial" class="ember-view ember-text-field form-control"
            placeholder="Official" name="isofficial" required>
            <option value=true>TRUE</option>
            <option value=false>FALSE</option>
          </select>
        </div>
        <div class="form-group">
          <label>Logo</label>
          <input type="file" id='input-logo' class="ember-view ember-text-field form-control" onchange="readURL(this)">
          <div class='img-group'>
            <div id='image-logo' style="background-image: url({{link + edittag.logo}});" />
            <div class='remove-icon' ng-show="edittag.logo" ng-click="clear('logo')"><img src='/img/remove.svg' /></div>
          </div>
        </div>
      </div>
      <!-- <div id="ember1705" class="form-group ember-view">
                <button style="margin-top: 20px; padding: 8px;" type="submit" class="btn btn-loading btn btn-primary btn-block">
                  <div class="btn-loading-text">Update</div>
                </button>
            </div> -->
    </form>

  </div>
  <div class="modal-footer">
    <a class="btn btn-primary" ng-click="update(edittag)">Update</a>
    <a href="#" class="btn" data-dismiss="modal">Close</a>
  </div>
</div>


<div class="modal hide fade" id="mymodal-createtag">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal">x</button>
    <h3>Create tag</h3>
  </div>
  <div class="modal-body">

    <form>
      <div>
        <div class="form-group">
          <label>Keyword</label>
          <input type="text" ng-model="createtag.keyword" class="ember-view ember-text-field form-control"
            placeholder="Keyword" name="keyword" required>
        </div>
        <div class="form-group">
          <label>Official</label>
          <select type="text" ng-model="createtag.isofficial" class="ember-view ember-text-field form-control"
            placeholder="Official" name="isofficial" required>
            <option value=true>TRUE</option>
            <option value=false>FALSE</option>
          </select>
        </div>
        <div class="form-group">
          <label>Show in explore</label>
          <select type="text" ng-model="createtag.showinexplore" class="ember-view ember-text-field form-control"
            placeholder="Official" name="showinexplore" required>
            <option value=true>TRUE</option>
            <option value=false>FALSE</option>
          </select>
        </div>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <a class="btn btn-primary" ng-click="create(createtag)">Create</a>
    <a href="#" class="btn" data-dismiss="modal">Close</a>
  </div>
</div>
<style>
  .img-group {
    position: relative;
  }

  .remove-icon {
    width: 20px;
    height: 20px;
    top: -30px;
    position: absolute;
    right: 0;
    cursor: pointer;
  }

  .remove-icon img {
    width: 100%;
    height: 100%;

  }

  .form-group input {
    width: 100%;
    padding: 22px 8px;
    box-sizing: border-box;
  }

  #image {
    margin-top: 20px;
    width: auto;
    height: 200px;
    background-size: contain;
    background-repeat: no-repeat;
  }

  #image-logo {
    margin-top: 20px;
    margin-bottom: 20px;
    width: auto;
    height: 100px;
    background-size: contain;
    background-repeat: no-repeat;
  }

  #tag-logo {
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    object-fit: cover;
  }

  #tag-logo>img {
    border: 1px solid grey;
    border-radius: 50%;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  #tag-image {
    width: 200px
  }

  .loading {
    position: absolute;
    width: 100%;
    height: 100%;
    display: none;
    justify-content: center;
    align-items: center;
    top: 0;
    left: 0;
    background-color: #0000001a;
  }

  .loading.show {
    display: flex
  }

  .btn-create {

    position: absolute;
    top: 0;
    right: 0;

  }

  .pagination {
    display: inline-flex;
    justify-content: center;
    align-content: center;
    list-style: none;
    border: 1px solid #ccc;
    position: relative;
    border-radius: 8px;
    float: right
  }

  .page-item {
    position: relative;
    padding: 6px 10px;
    border-right: 1px solid #ccc;
    cursor: pointer;
  }

  .page-link {
    background-color: transparent;
    border: none;
  }

  .page-item:first-child {
    /* border-right: 1px solid #ccc; */
  }

  .page-item:last-child {
    border-left: none;
  }

  .page-item.active {
    background-color: #ccc;
  }

  .input-search {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 24px;
  }

  .action-table {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .select-limit {
    margin-bottom: 8px;
    min-width: 140px;
  }

  .box-pagination {
    margin-bottom: 8px;
  }
</style>
<script>
  let controller = angular.element(document.getElementById('tag-admin')).scope();
  function readURL(input) {
    if (input.files && input.files[0]) {
      if (input.files[0].type.indexOf('jpeg') === -1 && input.files[0].type.indexOf('png') === -1 && input.files[0].type.indexOf('jpg') === -1) {
        $('.errors').text('Pls, add png or jpg file for logo')
      }
      else {
        controller.uploadFile(input)
        $('.errors').text()
        var reader = new FileReader();

        reader.onload = function(e) {
          // console.log(e.target.result)
          $('#image-logo').css("background-image", `url(${e.target.result})`);

        };

        reader.readAsDataURL(input.files[0]);
      }
    }
  }
</script>